.intgrtn-loader-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
    display: none; }
    .intgrtn-loader-holder.show {
      display: block; }
    .intgrtn-loader-holder.static {
      position: static;
      left: auto;
      text-align: center;
      padding: 15px;
      right: auto; }
      .intgrtn-loader-holder.static .intgrtn-lds-dual-ring {
        position: static;
        left: auto;
        right: auto;
        transform: translate(0%, 0%); }
    .intgrtn-loader-holder .intgrtn-loader-text-holder {
      text-align: center;
      max-width: 80%;
      max-height: 80%;
      position: absolute;
      left: 50%;
      top: 50%;
      color: #fff;
      transform: translate(-50%, -50%); }
      .intgrtn-loader-holder .intgrtn-loader-text-holder .intgrtn-lds-dual-ring {
        position: static;
        left: auto;
        right: auto;
        transform: translate(0%, 0%); }
    .intgrtn-loader-holder .intgrtn-lds-dual-ring {
      display: inline-block;
      width: 50px;
      height: 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .intgrtn-loader-holder .intgrtn-lds-dual-ring:after {
      content: " ";
      display: block;
      width: 46px;
      height: 46px;
      margin: 1px;
      border-radius: 50%;
      border: 5px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: intgrtn-lds-dual-ring 1.2s linear infinite; }
  
  @keyframes intgrtn-lds-dual-ring {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
  