#form input {
    outline: none;
}

.iti {
    width: 100%;
}

#form input.error {
    border: 2px solid #ef4933 !important;
}

#form input.correct {
    border: 2px solid #62ef33 !important;
}
.iti {
    position: relative;
}
.input-dialog {
    position: absolute;
    z-index: 9999;
    top: -50%;
    right: -20px;
    background: #cc3b3b !important;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 0 10px 2px #000;
}
.iti__flag {
  background-image: url("https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/img/flags.png") !important;
}
